<!DOCTYPE html>
<html ng-app="requirementModule">
<head>
    <title>Bootstrap 101 Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->

    <script src="/js/angular.min.js"></script>



    <link href="/styles/bootstrap.css" rel="stylesheet" media="screen">
    <link href="/styles/bootstrap-glyphicons.css" rel="stylesheet" media="screen">

</head>
<body ng-app>
<div class="container" ng-controller="FetchRequirements">

    <h1><%=requirement.title%></h1>

</div>




<!-- JavaScript plugins (requires jQuery) -->
<script src="/js/jquery.1.10.2.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/js/bootstrap.js"></script>

<!-- Enable responsive features in IE8 with Respond.js (https://github.com/scottjehl/Respond) -->
<script src="js/respond.js"></script>

<script src="/js/script.js"></script>

</body>
</html>